* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #446300;
    background: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.image-container {

    width: 9rem;
    height: 12rem;
    overflow: hidden;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    transform: scale(.8);
    transition: .5s ease-in-out;
}


.circle {
    width: 9rem;
    aspect-ratio: 1;
    background: linear-gradient(lightblue,
            seagreen);
    border-radius: 50%;
    position: relative;
}

.circle img {
    max-width: 100%;
    height: auto;
    position: absolute;
    transform: scale(.9);
    transition: .5s ease-in-out;


}

.image-container:hover {
    transform: scale(1);
}

.image-container:hover .circle img {
    transform: translateY(-3rem) scale(1);
}

#cursor {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: fixed;

}

#cursor-grow {
    background: #DCFF2F;
    width: 300px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: fixed;
    filter: blur(100px);
    z-index: -1;

}